@mixin Button($bg) {
    background-color: $bg !important;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    padding: 1em 1.5em;
    font-size: 1.1em !important;
    cursor: pointer;
    color: #ffffff !important;
    transition: all 0.1s linear;
    display: flex;
    justify-content: space-between
  }
  
  .Button, .Link {
    @include Button(#1D1D21);
  
    &:hover {
      color: rgb(255, 255, 255);
      background: #2D2D32 !important;
    }
  }
  
  .secondary {
    background-color: #1D1D21 !important;
    color: #000000 !important;
  
    &:hover {
      background-color: #2D2D32 !important;
      color: #ffffff !important;
    }
  }
  
  .smallBtn {
    padding: 0.8em 1.5em !important;
    font-size: 0.9em !important;
  }
  .connectionBtnSep{
     display: flex;
     align-items: center;
     width: 40vw;
  }
 
  button span {
    flex: 1;
    text-align: left;
  }