.swapBox{
width: 500px;
background-color: #1D1D21;
border-radius: 20px;
padding:20px;
font-size: 25px;
}
.tinytext {
    font-size: 20px;
}
.dropdownAdjust{
margin-top: 30px;
display: flex;
align-items: center;
justify-content: space-between;
}
.dividerArrow{
    padding: 0.2em 0.1em;
    width: fit-content;
}
.fixcontent{
    width: fit-content;
    display: flex;
    gap: 1.3em;
    align-items: center;

    span{
        font-size: 30px;
        font-weight: 400;
    }
}

.inputField{
    outline: none;
    margin-right: 10px;
    padding: 0.2em 0.27em;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
    width: 5.4em;
    height: 1.2em;
    background-color: rgb(29,29,33);
    border-radius: 17px;
    border: 8px solid rgb(29,29,33);
    color: white;
    box-shadow: none;
    transition: none;
}
.inputField:hover{
    transform: none;
    transition: none;
    border: 8px solid rgb(45,45,50);
}
.token{
    font-size: 30px;
    font-weight: 300;

}

.balance {
    font-size: 20px;
    display: flex;
    float: right;
    width:fit-content;
}


.null:hover{
    transform: none;
    transition: none;
    border: 8px solid rgb(29,29,33);
}
.center1 {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.approveSend{
 width: fit-content;
 display: flex;
 align-items: center;
 gap: 1em;
}
.buttonB{
    width: 150px;
}
