.Head{
 cursor: pointer;
 margin-top: 20px;
}
.Table:hover{
    background-color: #222223;
}
.Table {
    border: 1px solid rgba(240, 240, 240, 0.862);
    padding: 0.25em;
    margin-top: 12em;
    padding: 0.01em 1em;
    background-color: rgb(29,29,33);
    border-radius: 7px;
    width: 92%;
    margin: auto;
    margin-right: 30em;
    table {
      width: 100%;
      border-collapse: collapse;

      .TR {
        border-bottom: 1px solid rgb(225, 225, 225);
      }

      thead,
      tbody {
        th,
        td {
          padding:1em 0;
          text-align: left;
        }
      }

      tbody {
        .TR {
          &:nth-last-of-type(1) {
            border-bottom: none;
          }

          .Blockie {
            border-radius: 40%;
          }
        }
      }
    }
  }
.AccountBlock {
    display: flex;
    align-items:center;
    gap: 1em;
    img {
        border-radius: 13%;
    }
   
}
th {
    font-size: 17px;
}
td {
    font-size: 18px;
}